<header>
    <div id="overlay">
        <ul class="text-center list-none text-white text-3xl">
            {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                    <button id="dropdown-parent-{{ .Identifier }}-mobile"
                        class="p-2">
                        {{ .Name }}
                    </button>
                    <div id="dropdown-children-{{ .Identifier }}-mobile" 
                        class="hidden absolute z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                        <div class="py-1" role="none">
                            {{ range .Children }}
                                <a href="{{ .URL | safeURL }}"
                                    class="text-gray-700 block px-4 py-2 text-xl" role="menuitem" tabindex="-1"> 
                                    {{ .Name }}
                                </a>
                            {{ end }}
                        </div>
                    </div>
                    {{ else }}
                    <li class="p-2">
                        <a href="{{ .URL | safeURL }}">
                            <span>{{ .Name }}</span>
                        </a>
                    </li>
                    {{ end }}
            {{ end }}
        </ul>
    </div>
    <nav class="flex items-center justify-between flex-wrap bg-opacity-100 p-2">
        <div class="flex items-center flex-shrink-0 text-xl text-grey-900 mr-6">
            <a href="{{ .Site.BaseURL }}"><img alt="{{ .Site.Params.logo.alt }}"
                    class="{{ .Site.Params.logo.size }} mr-3" src="{{ .Site.Params.logo.main | relURL }}"></a>
        </div>
        <div class="block lg:hidden">
            <div id="hamburgerbtn" class="flex cursor-pointer items-center w-14 h-10 py-2 rounded mopen">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </div>
        </div>
        <div class="hidden w-full block flex-grow lg:flex lg:items-center lg:w-auto" id="mobileMenu">
            <div class="text-lg lg:flex-grow">
            </div>
            <div class="text-xl font-tiva">
                {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                    <button id="dropdown-parent-{{ .Identifier }}"
                        class="duration-200 block mt-4 lg:inline-block lg:mt-0 text-tivagreen-900 hover:opacity-60 mr-8">
                        {{ .Name }}
                    </button>
                    <div id="dropdown-children-{{ .Identifier }}" 
                        class="hidden absolute z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                        <div class="py-1" role="none">
                            {{ range .Children }}
                                <a href="{{ .URL | safeURL }}"
                                    class="text-gray-700 block px-4 py-2 text-xl" role="menuitem" tabindex="-1"> 
                                    {{ .Name }}
                                </a>
                            {{ end }}
                        </div>
                    </div>
                    {{ else }}
                        <a href="{{ .URL | safeURL }}"
                            class="duration-200 block mt-4 lg:inline-block lg:mt-0 text-tivagreen-900 hover:opacity-60 mr-8">
                            {{ .Name }}
                        </a>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </nav>
</header>
<script>
    const dropdownParentIds = [
        {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                '{{ .Identifier }}',
                '{{ .Identifier }}-mobile',
            {{ end }}
        {{ end }}
    ]; 
    document.addEventListener('DOMContentLoaded', function() {
        
        dropdownParentIds.forEach(dropdownParentId => {
            const dropdownParent = document.getElementById(`dropdown-parent-${dropdownParentId}`);
            const dropdownChildren = document.getElementById(`dropdown-children-${dropdownParentId}`);

            dropdownParent.addEventListener('click', function() {
                dropdownChildren.classList.toggle('hidden');
            });

            document.addEventListener('click', function(event) {
                if (!dropdownChildren.contains(event.target) && !dropdownParent.contains(event.target)) {
                    dropdownChildren.classList.add('hidden');
                }
            });
        });
    });
</script>