<div>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="{{ .Site.Data.jumbotron.image }}" alt="">
            <div class="s-fade-txt bg-white/[.66] p-4 text-center text-tivagreen-900 font-tiva w-11/12 md:w-7/12 lg:w-4/12">
                <h1 class="text-5xl">
                    Tiva Yoga
                </h1>
                <br/>
                <p class="text-2xl italic">
                    La pause yoga pour toi.
                </p>
            </div>
        </div>
    </div>
</div>