<div class="bg-tlgray-200 py-6 md:py-10">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="relative overflow-clip shadow-md sm:rounded-lg md:mx-36">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                        <caption class="p-5 text-lg font-semibold text-center rtl:text-right text-tivaterracotta bg-white">
                            Planning
                            <p class="mt-1 text-sm lg:text-base font-normal text-gray-500">Retrouvez-moi sur les séances suivantes :</p>
                        </caption>
                        <thead class="hidden text-xs text-gray-700 uppercase bg-gray-50">
                            <tr>
                                <th scope="col" class="py-2">
                                </th>
                                <th scope="col" class="py-2">
                                </th>
                                <th scope="col" class="py-2">
                                </th>
                                <th scope="col" class="py-2">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-white border-b text-center lg:text-base">
                                <th scope="row" class="lg:px-2 py-2 font-medium text-gray-900 whitespace-nowrap">
                                    Lundi<br><span class="text-xs lg:text-sm italic">À partir de Sept. 2024</span>
                                </th>
                                <td class="py-2 text-tivaterracotta font-bold">
                                    Yoga Vinyasa
                                </td>
                                <td class="py-2">
                                    19h-20h
                                </td>
                                <td class="py-2">
                                    Brézins<br>Salle le Tremplin
                                </td>
                            </tr>
                            <tr class="bg-white border-b text-center lg:text-base">
                                <th scope="row" class="lg:px-2 py-2 font-medium text-gray-900 whitespace-nowrap">
                                    Samedi
                                </th>
                                <td class="py-2 text-tivaterracotta font-bold">
                                    Yoga Enfant
                                </td>
                                <td class="py-2">
                                    10h-11h 11h-12h
                                </td>
                                <td class="py-2">
                                    St-Étienne-de-St-Geoirs
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="relative overflow-clip shadow-md sm:rounded-lg md:mx-36">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                        <caption class="p-5 text-lg font-semibold text-center rtl:text-right text-tivaterracotta bg-white">
                            Ateliers
                            <p class="mt-1 text-sm lg:text-base font-normal text-gray-500">À venir.</p>
                            <br><br>
                        </caption>
                    </table>
                </div>
            </div>
        </div>
            <div class="swiper-button-prev bg-tlgray-200/60"></div>
            <div class="swiper-button-next bg-tlgray-200/60"></div>
    </div>
</div>