{{/* <div class="swiper-container"> */}}
<div>
    <div class="swiper-wrapper">
        {{ range .Site.Data.slide }}
        <div class="swiper-slide">
            <img src="{{ .image }}" alt="">
            <div class="s-fade-txt bg-white/[.5] p-4 text-center text-tivagreen-900 font-tiva">
                {{/* <h1 class="text-5xl {{ or .color "text-white" }}">{{ .title }}</h1> */}}
                <h1 class="text-5xl">
                Tiva Yoga
                </h1>
                <br/>
                <p class="text-2xl">
                La pause yoga pour toi !
                </p>
                <p class="text-xl">
                Viens profiter d'un moment de détente, de challenge et d'échange.
                </p>
            </div>
        </div>
        {{ end }}
    </div>
    {{/* <div class="swiper-button-prev"></div> */}}
    {{/* <div class="swiper-button-next"></div> */}}
</div>