{{/* <div class="swiper-container"> */}}
<div>
    <div class="swiper-wrapper">
        {{ range .Site.Data.slide }}
        <div class="swiper-slide">
            <img src="{{ .image }}" alt="">
            <div class="s-fade-txt bg-white/[.25]">
                {{/* <h1 class="text-5xl {{ or .color "text-white" }}">{{ .title }}</h1> */}}
                <h1 class="text-5xl text-center text-green-950">
                Bienvenue à Tiva Yoga
                </h1>
                <p class="text-base text-center text-green-950">
                Un espace créé par Audrey pour vous accompanger dans votre pratique du yoga.
                </p>
                <br>
                <p class="text-base text-center text-green-950">
                Cours de yoga, ateliers, vidéos en ligne, articles; À vous de choisir selon vos besoins et envies du moment.
                </p>
                <br>
                <p class="text-base text-center text-green-950">
                Que vous optez pour un yoga doux ou dynamique, l'importance est de <q><i>pratiquer et le reste viendra</i></q>K. Pattabhi Jois.
                </p>
            </div>
        </div>
        {{ end }}
    </div>
    {{/* <div class="swiper-button-prev"></div> */}}
    {{/* <div class="swiper-button-next"></div> */}}
</div>