{{/* <div class="swiper-container"> */}}
<div>
    <div class="swiper-wrapper">
        {{ range .Site.Data.slide }}
        <div class="swiper-slide">
            <img src="{{ .image }}" alt="">
            <div class="s-fade-txt bg-white/[.66] p-4 text-center text-tivagreen-900 font-tiva w-11/12 md:w-7/12 lg:w-4/12">
                {{/* <h1 class="text-5xl {{ or .color "text-white" }}">{{ .title }}</h1> */}}
                <h1 class="text-5xl">
                Tiva Yoga
                </h1>
                <br/>
                <p class="text-2xl italic">
                La pause yoga pour toi.
                </p>
            </div>
        </div>
        {{ end }}
    </div>
    {{/* <div class="swiper-button-prev"></div> */}}
    {{/* <div class="swiper-button-next"></div> */}}
</div>

<div class="bg-tlgray-200 py-6 md:py-10">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="relative overflow-clip shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                        <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white">
                            Planning
                            <p class="mt-1 text-sm font-normal text-gray-500">Retrouvez-moi sur différentes séances.</p>
                            <br><br>
                        </caption>
                        <thead class="hidden text-xs text-gray-700 uppercase bg-gray-50">
                            <tr>
                                <th scope="col" class="px-2 py-2">
                                </th>
                                <th scope="col" class="px-2 py-2">
                                </th>
                                <th scope="col" class="px-2 py-2">
                                </th>
                                <th scope="col" class="px-2 py-2">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-white border-b">
                                <th scope="row" class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap">
                                    Lundi
                                </th>
                                <td class="px-2 py-2">
                                    Yoga Vinyasa
                                </td>
                                <td class="px-2 py-2">
                                    19h-20h
                                </td>
                                <td class="px-2 py-2">
                                    Brézins Salle le Tremplin
                                </td>
                            </tr>
                            <tr class="bg-white border-b">
                                <th scope="row" class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap">
                                    Samedi
                                </th>
                                <td class="px-2 py-2">
                                    Yoga Enfant
                                </td>
                                <td class="px-2 py-2">
                                    10h-11h et 11h-12h
                                </td>
                                <td class="px-2 py-2">
                                    Saint-Etienne-de-Saint-Geoirs
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="relative overflow-clip shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                        <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white">
                            Ateliers
                            <p class="mt-1 text-sm font-normal text-gray-500">À venir.</p>
                            <br><br>
                        </caption>
                    </table>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev bg-tlgray-200"></div>
        <div class="swiper-button-next bg-tlgray-200"></div>
    </div>
</div>